@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #9DC0BC;
}
.select-box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 100%;
}
.select-box header{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 1px solid #ccc;
}
.select-box  .titulo{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}
.select-box .opciones{
    display: flex;
    width: 100%;
}

.opciones button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    outline: none;
    background: #9DC0BC;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.opciones button:hover{
    transform: scale(0.95);
}
.opciones button.jugadorX{
    margin-right: 5px;
}
.opciones button.jugadorO{
    margin-left: 5px;
}